html[dir="ltr"] .table th, .table td {
  border-right: 1px solid #dee2e6;
}

html[dir="ltr"] .table th:last-child, .table td:last-child {
  border-right: none;
}

html[dir="rtl"] .table th, .table td {
  border-left: 1px solid #dee2e6;
}

html[dir="rtl"] .table th:last-child, .table td:last-child {
  border-left: none;
}

.table th {
  background-color: #f8f9fa; /* Optional: background color for header */
}

.column-header-table {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #d2d2d2 !important;
}

.custom-table-row {
  display: flex;
  align-items: stretch; /* يجعل كل خلايا الصف تساوي في الارتفاع */
}

.custom-icon-cell {
  display: flex;
  flex-direction: column;
  justify-content: center; /* يتمركز الأيقونات عمودياً */
  padding: 0 8px;
  width: 50px; /* أو حسب الحاجة */
  min-height: 100%; /* يأخذ نفس ارتفاع الصف */
}


/*.column-header-table2 {*/
  /*background-color: #bfbfbf !important;*/
  /*background: #d3d3d3 !important;
  color: #272727 !important;
  border-bottom: 2px solid #bfbfbf !important;
}

.column-header-table2.alt {*/
  /*background-color: #bfbfbf !important;*/
  /*background: #eaf0fc !important;
  color: #2d3a4a !important;
  border-bottom: 2px solid #bfbfbf !important;
}*/
