html[dir="ltr"] .table th, .table td {
  border-right: 1px solid #dee2e6;
}

html[dir="ltr"] .table th:last-child, .table td:last-child {
  border-right: none;
}

html[dir="rtl"] .table th, .table td {
  border-left: 1px solid #dee2e6;
}

html[dir="rtl"] .table th:last-child, .table td:last-child {
  border-left: none;
}

.table th {
  background-color: #f8f9fa; /* Optional: background color for header */
}

.columnHeader {
  text-align: center;
}
